body{
    background-color: #F3F5FC; 
    
}

h1{
    color: #0A3871;
}

#boton_enc{
    background-color: #0A3871;
    color: white;   
}


#boton_des{
    background-color: #D8DFE8;
    color: #0A3871;   
}